<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <div class="col-left">
      <div class="float-page">
        <div class="section-title">{{page.title}}<em>/</em></div>
      </div>
    </div>

    <div class="col-right">


      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          <div class="nav">
            {% include icon-posts.html notitle=true %}
          </div>
          <div class="nav-flow"></div>
          
          <div class="posts-listing">
            <ul class="post-list">
              {% for post in site.posts %}
                <li>
                  <div class="post-wrapper">
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          
                    {% assign date_format = "%b %-d, %Y" %}
                    <span class="post-meta">{{ post.date | date: date_format }}</span>
                  </div>
                  <div class="post-tags fill">
                    {% for tag in post.tags %}
                      <div class="post-tag">{{ tag }}</div>
                    {% endfor %}
                  </div>
                </li>
              {% endfor %}
            </ul>
          
            <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
          
          </div>
        </div>
      </main>


    </div>

  </body>

</html>
